In [1]:
import pandas as pd

In [3]:
taxis = pd.read_csv('taxis.csv')

In [5]:
taxis.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [7]:
taxis['dropoff_borough'].value_counts()

dropoff_borough
Manhattan        5206
Queens            542
Brooklyn          501
Bronx             137
Staten Island       2
Name: count, dtype: int64

In [11]:
## vizinhanças em que as casas são mais caras, oferecem melhores gorjetas?
taxis.groupby(['dropoff_borough'])['tip'].agg(['mean','median'])

                      mean  median
dropoff_borough
Bronx             0.530803   0.000
Brooklyn          1.906248   0.000
Manhattan         1.954606   1.860
Queens            2.386273   0.000
Staten Island    14.165000  14.165

In [ ]:
df = pd.read_excel('sao_paulo.xlsx')
auxiliar = df.loc[10031]

In [ ]:
def limpa_preco(linha):
    linha['preco'] = linha['preco'].replace('R$','')
    linha['preco'] = linha['preco'].replace('\n','')
    linha['preco'] = linha['preco'].replace('R$','')
    linha['preco'] = linha['preco'].replace('/Mês','')
    linha['preco'] = linha['preco'].replace('         ','')
    return linha

In [ ]:
df.apply(lambda x: limpa_preco(x), axis=1)

In [ ]:
def ajusta_alugueis(linha):
    linha['preco'] = linha['preco'].replace('.','')
    preco = int(linha['preco'])
    if preco < 10000:
        preco = preco * 200
        linha['preco'] = preco
        return linha

In [ ]:
ajusta_alugueis(auxiliar)
df.apply(lambda x: ajusta_alugueis(x), axis=1)