In [1]:
import pandas as pd

In [7]:
dictionary = {
                'Autores': ['A','B','C'],
                'Titulos':['aa','bb','cc'],
                'Preços':[1,2,3]
}
df = pd.DataFrame(dictionary)

In [11]:
df['Autores']

0    A
1    B
2    C
Name: Autores, dtype: object

In [13]:
df['Autores'][1]

'B'

In [15]:
mascara = (df['Autores'] == 'C')
df[mascara]

  Autores Titulos  Preços
2       C      cc       3

In [29]:
new_row = pd.DataFrame({'Autores': ['D'],'Titulos':['DD'],'Preços':[4]})

In [31]:
df = pd.concat([df, new_row], ignore_index=True)

In [33]:
df

  Autores Titulos  Preços
0       A      aa       1
1       B      bb       2
2       C      cc       3
3       D      DD       4

In [35]:
mascara_correcao = df['Titulos'] == 'DD'
print(mascara_correcao)

0    False
1    False
2    False
3     True
Name: Titulos, dtype: bool

In [39]:
df.loc[mascara_correcao, 'Titulos'] = 'teste'
df

  Autores Titulos  Preços
0       A      aa       1
1       B      bb       2
2       C      cc       3
3       D   teste       4